---
import type { PageSection } from "@/content/page.types";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import Button from "../LinkButton.astro";

export type Section = PageSection;
export type Props = {
  section: Section;
};

const { section } = Astro.props;
if (!section) {
  throw new Error("Section data is required");
}
const { title, buttons, image, content, image_position } = section;
const image_classes = "banner-image-large"; // Define image_classes with a default value
const image_position_classes = (() => {
  if (!image && !image_position) {
    return ["", "col-12", ""];
  }

  if (image) {
    switch (image_position) {
      case "top":
        return ["flex-row-reverse", "col-12", "col-12 mb-4 lg:mb-0"];
      case "bottom":
        return ["", "col-12", "col-12"];
      case "left":
        return [
          "flex-row-reverse",
          "col-12 md:col-5 lg:col-4",
          "col-12 md:col-7 lg:col-8",
        ];
      case "right":
      default:
        return ["", "col-12 md:col-5 lg:col-4", "col-12 md:col-7 lg:col-8"];
    }
  } else {
    return ["", "col-12", ""];
  }
})();
---

<section class="section relative">
  <div class="container">
    <div class={`row items-center ${image_position ? 'custom-position' : ''} ${image_position_classes[0]}`}>
      <div class="col-12 md:col-5 lg:col-5">
        <h1 class={`${section.title_size}`} set:html={markdownify(title)} />
        <p class="mt-6" set:html={markdownify(content)} />
        {
          buttons && buttons.length > 0 && (
            <div class="flex flex-wrap mt-8">
              {buttons.map((button) => (
                <Button {...button} />
              ))}
            </div>
          )
        }
      </div>
      {
        image && (
          <div class="col-12 md:col-7 lg:col-7">
            <Image
              class={`w-full object-contain ${image_classes}`}
              alt="section-image"
              src={image}
              width={500}
              height={333}
            />
          </div>
        )
      }
    </div>
  </div>
</section>

<style>
  .banner-image-large {
    width: 100%; /* Hace que la imagen tome el 100% del ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    transition: transform 0.3s ease; /* Añade una transición suave */
  }
  .banner-image-large:hover {
    transform: scale(1.1); /* Aplica el zoom al hacer hover */
  }
  .section.relative .container {
    max-width: 90%; /* Asegura que el contenedor tome el 100% del ancho disponible */
    padding: 0; /* Elimina el padding del contenedor */
  }
  .custom-position {
    display: flex;
    flex-wrap: wrap;
  }
  .custom-position .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .custom-position .md\:col-5 {
    flex: 0 0 45%; /* Cambia el valor a 45% para el texto */
    max-width: 45%; /* Cambia el valor a 45% para el texto */
  }
  .custom-position .md\:col-7 {
    flex: 0 0 55%; /* Cambia el valor a 55% para la imagen */
    max-width: 55%; /* Cambia el valor a 55% para la imagen */
  }
</style>